.Timeline {
  left: 15px;
  position: absolute;
  width: 3px;
  margin: auto;
  height: 500px;
  background-color: #C4C4C4;
}

@media only screen and (min-width: 1215px) {
  .Timeline {
    left: 100px;
  }
}

.TimelineDot {
  z-index: 999;
  margin-top: 30px;
  margin-left: -11px;
  height: 25px;
  width: 25px;
  color: #C4C4C4;
  background-color: #C4C4C4;
  box-shadow: 0 0 0 0.1em #C4C4C4 inset;
  display: inline-block;
  border-radius: 50%;
}

.TimelineDot + .TimelineDot {
  margin-top: 80px;
}
.TimelineDot > span {
  z-index: 999;
  margin-left: 35px;
  outline: none;
  vertical-align: middle;
}
.TimelineDot > span:hover {
  color: black;
  cursor: pointer;
}
.TimelineDot.active {
  color: black;
  box-shadow: 0 0 0 0.3em #960F4A inset;
}
